:root {
    --nav-height: 70px;
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background: #fff;
    box-shadow: 0 5px 10px #0000001a;
    z-index: 1000;
  }
  
  .navContainer {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 24px;
    font-weight: 700;
  }
  
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .navLinks a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: 0.2s;
  }
  
  .navLinks a:hover {
    color: #ff5964;
  }
  
  
  .menuButton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .menuButton svg {
    width: 28px;
    height: 28px;
  }
  
  
  .mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100dvh; 
    background: #fff;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  
    transform: translateX(100%);
    transition: transform 300ms ease;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  
    z-index: 2000;
  }
  
  .menuActive {
    transform: translateX(0);
  }
  
  .closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .closeButton svg {
    width: 28px;
    height: 28px;
  }
  
  
  .mobileLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .mobileLinks li {
    margin: 25px 0;
  }
  
  .mobileLinks a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #000;
  }
  
  
  @media (max-width: 700px) {
    .navLinks {
      display: none;
    }
  
    .menuButton {
      display: block;
    }
  }
  