.contactContainer {
    background-color: #f9f9f9;
    padding: 40px 40px;
}

.contactHeader {
    color: #ff5964;
    font-size: 1.275rem;
}

.contactInfoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contactEmail, .contactLinkedIn {
    display: flex;
    padding: 1em;
}

.contactEmail span, .contactLinkedIn span {
    padding: 1em;
    background-color: #fff;
    border-radius: 20%;
    box-shadow: 0 0 10px #0000001a;
    color: #ff5964;
    display: flex;
    justify-content: center;
    margin: 20px;
    
}

.contactEmail a, .contactLinkedIn a {
    text-decoration: none;
    color: #000;
}

.contactEmail a:hover, .contactLinkedIn a:hover {
    text-decoration: none;
    color: #ff5964;;
}

@media (max-width: 700px) {
    .contactInfoContainer {
       flex-direction: column;
       align-items: start;
    }
   }