.homeContainer {
    display: flex;
    align-items: center;
    padding: 0px 50px;
    margin: 0px 50px;
    background-color: #fff;
}

.homeContainer .leftContent p {
    color: #555;
    font-size: 1.5rem;
    max-width: 70%;
}

.homeContainer div a {
    color: black;
    transition: color 0.2s ease;
}
  
.homeContainer div a:hover {
    color: #ff5964;
}

.heroTitle {
    max-width: 15ch;
}

.heroCircle {
    width: 200px;
    border-radius: 20px;
    background-color: #fff;
}

.heroImage {
        height: 200px;
}

h1 {
    font-size: 3rem;
}

.techStack {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.techStack p{
    padding: 1em;
}

.techIcons {
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 40px;
    color: #ff5964;
    text-align: center;
  }

  .techIcons div svg {
    margin: 5px;
  }

@media (max-width: 850px) {
    .heroCircle {
       display: none;
    }
    .homeContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 20px;   
        margin: 0;        
    }
    .homeContainer .leftContent p {
        max-width: 100%;   
    }

    .heroTitle {
        max-width: 100%;   
    }
    .techStack {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .techIcons {
      gap: 20px;
    }
  
    .techIcons img {
      max-width: 100%;
      height: auto;
    }
  }
  