*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.menuOpen {
  overflow: hidden;
}

main {
    padding-top: var(--nav-height);
}

#home, 
#projects, 
#about, 
#contact {
  scroll-margin-top: 80px;
}

