.projectCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    margin: 40px;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #0000001a;
    min-height: 350px;
    margin-bottom: 80px;
    padding: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 80px auto;
    background-color: #fff;
    gap: 60px;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.8s ease;
}

.container.left {
    transform: translateX(-60px);
}

.container.right {
    transform: translateX(60px);
}

.container.show {
    opacity: 1;
    transform: translateX(0);
}

.container:nth-child(even) {
    flex-direction: row-reverse;
}

.container p {
    color: #767676;
    margin-bottom: 3em;
}

.container > div:first-child {
    flex: 1;  
}


.projectImageContainer {
    flex: 1;    
    max-width: 50%;
    height: 250px;
    padding-bottom: 30px; 
}

.projectImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
}

.projectImageContainer .slick-slider,
.projectImageContainer .slick-list,
.projectImageContainer .slick-track {
    height: 100%;
}

.projectImageContainer .slick-slide > div {
    height: 100%;
}
  
.techUsedContainer {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

.techUsed {
    box-shadow: 0 0 10px #0000001a;
    font-size: 1rem;
    margin: 0px;
    padding: 1rem 1rem;
}

.textContainer {
    text-align: center;
}
.textContainer a {
    display: flex;
    justify-content: center;
}

@media (max-width: 1055px) {
    .container,
    .container:nth-child(even) {
      flex-direction: column;
      text-align: center;
    }
  
    .projectImageContainer {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  
    .textContainer {
      max-width: 100%;
    }
  }
  
  
  